$var1: #ffff00
$var2: #000000
$var3: #c0c0c0
$var4: #073642
$var5: #839496
$var6: #002b36
$var7: #586e75
$var8: #b58900
$var9: #cb4b16
$var10: #d33682
$var11: #859900
$var12: #dc322f
$var13: #2aa198
$var14: #268bd2

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary
  display: block

audio, canvas, video
  display: inline-block

audio:not([controls])
  display: none
  height: 0

[hidden]
  display: none

html
  font-family: sans-serif
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%

body
  margin: 0

a:focus
  outline: thin dotted

a:active, a:hover
  outline: 0

h1
  font-size: 2em

abbr[title]
  border-bottom: 1px dotted

b, strong
  font-weight: bold

dfn
  font-style: italic

mark
  background: $var1
  color: $var2

code, kbd, pre, samp
  font-family: monospace, serif
  font-size: 1em
pre
  white-space: pre-wrap
  word-wrap: break-word

  code
    background-color: $var6

q
  quotes: ""

small
  font-size: 80%

sub, sup
  font-size: 75%
  line-height: 0
  position: relative
  vertical-align: baseline

sup
  top: -0.5em

sub
  bottom: -0.25em

img
  border: 0

svg:not(:root)
  overflow: hidden

figure
  margin: 0

fieldset
  border: 1px solid $var3
  margin: 0 2px
  padding: 0.35em 0.625em 0.75em

legend
  border: 0
  padding: 0

button, input, select, textarea
  font-family: inherit
  font-size: 100%
  margin: 0

button, input
  line-height: normal
  &[disabled]
    cursor: default

  &[type="checkbox"], &[type="radio"]
    box-sizing: border-box
    padding: 0

  &[type="search"]::-webkit-search-cancel-button, &[type="search"]::-webkit-search-decoration
    -webkit-appearance: none

  &::-moz-focus-inner
    border: 0
    padding: 0

button, html input[type="button"], input[type="reset"], input[type="submit"]
  -webkit-appearance: button
  cursor: pointer

input[type="search"]
  -webkit-appearance: textfield
  -moz-box-sizing: content-box
  -webkit-box-sizing: content-box
  box-sizing: content-box

textarea
  overflow: auto
  vertical-align: top

table
  border-collapse: collapse
  border-spacing: 0

html
  font-family: 'PT Sans', sans-serif

pre, code
  font-family: 'Inconsolata', sans-serif

h1, h2, h3, h4, h5, h6
  font-family: 'PT Sans Narrow', sans-serif
  font-weight: 700

html
  background-color: $var4
  color: $var5
  margin: 1em

body
  background-color: $var6
  margin: 0 auto
  max-width: 23cm
  border: 1pt solid $var7
  padding: 1em

code
  background-color: $var4
  padding: 2px

a
  color: $var8

  &:visited
    color: $var9

  &:hover
    color: $var9

h1
  color: $var10

h2, h3, h4, h5, h6
  color: $var11

pre
  background-color: $var6
  color: $var5
  border: 1pt solid $var7
  padding: 1em
  box-shadow: 5pt 5pt 8pt $var4

h1
  font-size: 2.8em

h2
  font-size: 2.4em

h3
  font-size: 1.8em

h4
  font-size: 1.4em

h5
  font-size: 1.3em

h6
  font-size: 1.15em

.tag
  background-color: $var4
  color: $var10
  padding: 0 0.2em

.todo, .next, .done
  color: $var6
  background-color: $var12
  padding: 0 0.2em

.tag
  -webkit-border-radius: 0.35em
  -moz-border-radius: 0.35em
  border-radius: 0.35em

.TODO
  -webkit-border-radius: 0.2em
  -moz-border-radius: 0.2em
  border-radius: 0.2em
  background-color: $var13

.DONE
  -webkit-border-radius: 0.2em
  -moz-border-radius: 0.2em
  border-radius: 0.2em
  background-color: $var11
