@use "theme"

.landing
  width: 100%
  height: 100vh
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  background: theme.$bg-colour
  flex-direction: column

#name
  h1
    margin: 0
    font-size: 3em
    color: theme.$main-text-colour

#short-desc
  h3
    margin: 0
    font-size: 0.8em
    color: theme.$main-text-colour
    text-decoration: italics

    a
      color: theme.$main-text-colour
      text-decoration: none

      &:hover
        color: theme.$main-text-colour

#separator
  overflow: hidden
  width: 100%
  margin: 20px 0
  box-sizing: border-box
  background-color: theme.$accent-colour

#separator a
  width: 6em
  font-size: 0.6em
  padding: 0.2em 1em
  color: #444
  font-weight: bold
  font-size: 0.8em
  text-decoration: none

  &:hover
    color: theme.$main-text-colour

#bc
  font-family: theme.$title-font, monospace
  color: theme.$main-text-colour
  font-size: 0.9em
  text-align: center
  background: theme.$bg-colour
  display: flex
  flex-direction: column
  width: 100%

  h2
    font-size: 1em
    margin: 0

  h4
    padding: 5px
    font-size: 0.7em
    margin: 0
  a
    color: theme.$main-text-colour
    text-decoration: none
    &:hover
      color: theme.$link-hover-colour

  #bc-body
    padding: 5px

  #bc-body span
    font-weight: bold
    width: 1em
    display: inline-block

  .labels
    display: flex
    align-items: center
    justify-content: center

  .filler
    height: 1px
    border: none

  #filler1
    width: 15em

  #filler4
    width: 6em

  #filler3
    width: 8em

  .labels#above div
    border-bottom: 2px solid theme.$accent-colour

  .labels#below div
    border-top: 2px solid theme.$accent-colour

  .labels > #linkedin
    width: 7em

  .labels > #jonnobrow-acc
    width: 9em

  .vertical-bar
    border-left: 2px solid theme.$accent-colour
    height: 20px
    left: 50%
    margin-left: 1px
